<div class="container_box">

    <h4>Script</h4>
    <!-- <textarea [(ngModel)]="template" placeholder="Message template preview" (ngModelChange)="templateChanged()" ></textarea> -->
    <ckeditor [(ngModel)]="template" [config]="config" (change)="templateChanged()"></ckeditor>

</div>
