@import './../../../../sass/_colours.scss';
.navbar {
    margin-bottom: 30px;
    padding: 10px;
    background-color: $blue !important;
}
.navbar-light .navbar-nav .nav-link {
    color: $background;
    &:hover {
        cursor: pointer;
    }
}
.phone-icon {
    color: $green !important;
    font-size: 1.2em;
    font-weight: bold;
}
.dropdown-toggle::after {
    display:none;
}
.arrow-down-icon {
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
    }
}
