<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/app/script">
    <img src="/app/script/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Financial Cloud">
    <span class="logo">
      Script Builder
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <!-- Business section -->
      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/app/script/templates']" routerLinkActive="link-active">Templates</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item margin-left-10">
        <a href="/dashboard" class="nav-link">
          <i class="fas fa-user"></i>
          <span class="margin-left-10">{{templateService.user.username}}</span>
        </a>
      </li>
      <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a class="nav-link arrow-down-icon" ngbDropdownToggle>
          <i class="fas fa-chevron-down"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="options">
          <a class="dropdown-item" href="/">Collections-Hub</a>
          <a class="dropdown-item" href="/app/letter">Letter Builder</a>
          <a class="dropdown-item" href="/app/sms">SMS Builder</a>
          <a class="dropdown-item" href="/app/email">Email Builder</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/oauth/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav> --> 


