

<div class="card box">
  <div class="card-body">
    <h4>Script Template</h4>
    <hr />
    <form (ngSubmit)="saveTemplate()" >
      <div class="form-group">
        <input type="text" [ngClass]="archived ? 'btn-disabled' : 'allowed'" name="name" class="form-control" id="name" placeholder="Template name" [(ngModel)]="name" />
      </div>
      <div class="form-group">
        <textarea 
          name="description" 
          id="description" 
          [ngClass]="archived ? 'btn-disabled' : 'allowed'"
          cols="10" 
          rows="4" 
          class="form-control"
          placeholder="Template Description" [(ngModel)]="description"></textarea>
      </div>
      <hr />
      <button [disabled]="archived" [ngClass]="archived ? 'btn-disabled' : 'btn-allowed'"type="submit" class="btn btn-blue btn-block">Save Template</button>
    </form>
  </div>
</div>
