<section class="padding-bottom-10">
  <ng-template style="min-height:20px;" #tipContent>{{variable.tooltip}}</ng-template>
  <button type="button" class="btn btn-secondary" (click)="pickVariable()"  placement="right" [ngbTooltip]="tipContent">
    {{variable.name}}
  </button>
</section>

