<div class="card box margin-bottom-20">
  <div class="card-body">
    <h4>Version</h4>
    <hr />
    <div class="form-group">
      <select class="form-control" [(ngModel)]="selectedVersion" (ngModelChange)="versionChanged()">
        <option  *ngFor="let child of children" [ngValue]="child.version">Version {{child.version}}</option>
        <option  *ngIf="!children" value="-1" >Version 1</option>
      </select>
   </div>
  </div>
</div>
