<div class="form-group">
    <select name="filter" id="filter" class="form-control" [(ngModel)]="state" (ngModelChange)="handleChange()">
      <option value="active">Active</option>
      <option value="archived">Archived</option>
    </select>
  </div>
