<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <section id="createTemplate">
        <app-message-create 
        [body]="template"
        [newTemplate]="newTemplate"
        [id]="id"
        [mobile]="mobile"
        [name]="name"
        [description]="description"
        [archived]="archived"
        [isChild]="isChild">
        </app-message-create>
      </section>
      <app-message-version 
      [children]="childrens"
      [newTemplate]="newTemplate"
      [version]="version"
      (newVersion)="setVersion($event)">
      </app-message-version>
      <app-variables></app-variables>
    </div>
    <div class="col-md-9 col-sm-12">

      <div class="row">
        <app-message-input  class="col-md-12 col-sm-12"
          [editTemplate]="template" 
          (newTemplate)="setTemplate($event)">
        </app-message-input>
      </div>
      <div class="row">
        <app-message-preview class="col-md-12 col-sm-12"
        [newTemplate]="previewedTemplate">
        </app-message-preview>
      </div>
    </div>
  </div>
</div>
