.btn-blue {
    @include button(white, $blue, $blue);
  }
  
  .btn-red {
    @include button(white, $red, $red);
  }
  .btn-yellow {
    @include button(white, $yellow, $yellow);
  }
.btn-disabled {
  cursor: not-allowed !important;
}
.btn-allowed{
  cursor: none;
}
.allowed {
  cursor: text;
}
