.box-centered {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.box {
  -webkit-box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  -moz-box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  padding: 5px;
}

.card {
  border-radius: 0px;
  border: none;
  margin-bottom:20px;
}
.container_box{
  margin:auto;
  width: 80%;
  @media screen 
  and (min-device-width: 1600px)  {
      width:80%;
  }
}
.preview_box{
  width:100%;
  border:3px solid #3C5162;
  padding:25px;
  background:#fff;
  height:100%;
  min-height:300px;
}
