@mixin button($color, $bg, $border) {
    background: $bg;
    color: $color;
    transition: all 0.3s ease 0s;
    border: 2px solid $border;
    &:hover,
    &:focus,
    &:active {
      background: $bg;
      color: $color;
      transition: all 0.3s ease 0s;
      border: 2px solid $border;
    }
  }
  