<table class="table table-hover">
  <thead>
    <tr>
      <td scope="col">Name</td>
      <td scope="col">Author</td>
      <td scope="col">Date</td>
      <td scope="col">Latest Version</td>
      <td scope="col">Options</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let template of inputTemplates | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
      <td scope="row">{{ template.name }}</td>
      <td scope="row">{{ template.author }}</td>
      <td scope="row">{{ template.created_at | date }}</td>
      <td scope="row">
        <span id="templates">{{ template.version }}</span>
      </td>
      <td scope="row">
        <a [routerLink]="['/app/script/templates/script', template._id]" class="btn btn-blue btn-sm">View</a>
        <button 
        type="button" 
        *ngIf="!template.archived"
        [swal]="['Are you sure?', '', 'warning']"
        (confirm)="duplicate(template._id)" 
        class="btn btn-yellow btn-sm">Duplicate</button>
        <button 
        type="button" 
        [swal]="['Are you sure?', '', 'warning']"
        (confirm)="handleArchive(template._id)" 
        class="btn btn-red btn-sm">{{ !template.archived ? 'Archive' : 'Unarchive' }}</button>

      </td>
    </tr>
  </tbody>
</table>
<pagination-controls  class="my-pagination float-right" (pageChange)="pageChanged($event)"></pagination-controls>
