<div class="container">
  <div class="row">
    <div class="col">
      <div class="card box">
        <div class="card-body">
          <section id="newTemplate">
            <h1>
              <span><span class="icon-docs"></span> Templates</span>
              <span class="float-right">
                <a routerLink="/app/script/templates/script" class="btn btn-blue"><span class="icon-plus"></span> New Template</a>
              </span>
            </h1>
          </section>
          <section id="templateTable" class="padding-top-20">
            <section id="templateFilter">
              <div class="row">
                <div class="col col-md-3">
                  <app-template-filter (onStateChange)="setState($event)"></app-template-filter>
                </div>
              </div>
            </section>
            <app-template-table
             [total]="total" 
             [inputTemplates]="templates" 
             (handlePageClick)="pageChange($event)"
             (refreshData)="refreshData()"
             (onArchiveClick)="archiveTemplate($event)"></app-template-table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
