<ng2-toasty></ng2-toasty>
<app-header [title]="title" [user]="user" [serverRoutes]="serverRoutes" [clientRoutes]="clientRoutes" [extraRoutes]="extraRoutes"></app-header>
<router-outlet></router-outlet>
